.OuterDiv {
  height: 1500px ;
  width : 1050px ;
  margin  : auto ;
}

.mainhr {
  border-style: none ;
  border-top-style: dotted ;
  border-color: #47B5FF;
  border-width: 7px;
  width: 7%;
}

#Heading {
  text-align: center;
  text-shadow: 1px 1px #79DAE8 ;
  color : #256D85 ;
}

.roomDiv {
  height: 250px ;
  margin: 20px 0 20px 0 ;
  background-color: #E8F9FD ;
  border  : 4px solid #256D85 ;
}

/* Image Section */
.roomDiv_img {
  display: inline-block;
  height: 250px ;
  width: 300px ;
}

.roomimg {
  position: absolute;
  height: auto ;
  width: auto ;
}


/* Description Section */
.roomDiv_desc {
  display: inline-block;
  height: 250px ;
  width: 492px ;
  vertical-align: top;
  position: relative;

}


.room_title {
  display: inline-block;

  height :60px ;
  width: 482px ;
}

.title {
  display: inline-block;
  margin-left: 20px ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hello {
  display: inline-block;
  width: 3px;
}

.roomdesc {
    display: inline-block;
    height : 130px ;
    width  :482px ;
    position: absolute;
    left : 24px ;
    top: 70px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 10px ;
border-top: 2px ridge #256D85 ;

}

.room_am {
  display: inline-block;
  position: absolute;
  bottom : 0 ;
  left : 24px ;
  height : 50px ;
  width  : 482px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.review {
  display : inline-block;
  margin-top : 15px ;
}


/* End Section */
.roomDiv_end {
  display: inline-block;
  height: 250px ;
  width: 240px ;
  position: relative;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button {
  position: absolute;
  bottom: 30px ;
  right: 40px ;
  border-radius: 4px;
  background-color: #06283D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 70px;
  cursor: pointer;
  margin: 5px;

}


.price {
  display: inline-block;
  height : 20px ;
  width : 50px ;
  position: absolute;
  top : 60px ;
  right : 65px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
