@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 70px);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #d5eefc;
  z-index: 1;
}

.nav_links {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav_links li {
  display: inline-block;
}

.logo {
  margin: 0px;
  padding-left: 250px;
}

.logo img {
  border-radius: 50%;
  transition: .5s;
}

.logo img:hover {
  transform: scale(1.075);
}

header nav>a:last-child {
  margin-right: revert;
}

header nav>a:hover {
  text-decoration: underline;
}

header nav>a:visited {
  color: #3390ce;
}

header a {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #47B5FF;
  align-items: center;
  margin: 12px;
  display: inline-block;
  position: relative;
}

.asmButt {
  padding-right: 250px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.asmButt a {
  position: relative;
  padding: 8px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  background: #0F4C75;
  letter-spacing: 1px;
  font-size: 20px;
}

.asmButt a:hover {
  color: white;
}

.asmButt a span {
  display: block;
  position: absolute;
  background: #2894ff;
}

.asmButt a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.asmButt a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.asmButt a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.asmButt a:hover span:nth-child(2) {
  transform: scalex(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.asmButt a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

.asmButt a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

.asmButt a span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

.asmButt a:hover span:nth-child(4) {
  transform: scalex(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

h3 {
  padding-top: 30px;
  color: hsl(203, 86%, 29%);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#carouselExampleCaptions h6 {
  color: white;
}

h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(195, 82%, 13%);
}

.intro {
  margin: auto;
  text-align: center;
  width: 800px;
}

.intro_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: auto;
  height: auto;
  justify-content: center;
  grid-gap: 10px;
  padding: 10px;
  padding-bottom: 30px;
}

.intro_container div {
  background-color: #b2cce7;
  height: 250px;
  border-radius: 6px;
}

.text p {
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  padding-top: 30px;
}

.intro_img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.intro_container div p {
  text-align: center;
}

footer {
  justify-content: center;
  background-color: #dff6ff;
  width: 100%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5px;
  padding-bottom: 16px;
  font-size: 18px;
  color: hsl(195, 82%, 13%);
}

footer p {
  font-size: 15px;
  padding: 8px;
  padding-bottom: 4px;
}

footer a {
  margin-right: 40px;
}

footer img {
  transition: .3s;
}

footer img:hover {
  transform: scale(1.3);
}

footer a:last-child {
  margin-right: revert;
}

.image_container img:hover {
  border-radius: 25px;
  box-shadow: 0 0 11px hsla(193, 63%, 17%, 0.682);
}

.image_container img {
  border-radius: 10px;
  transition: all ease 0.7s;
}

.image_container img:last-child {
  grid-gap: revert;
}

.image_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(300px, max-content));
  grid-gap: 20px;
  height: auto;
  width: auto;
}

.branches {
  display: inline-block;
  width: 240px;
  height: 350px;
  margin: 25px;
  transition: 0.5s;
  border-width: 3px;
}

.branches:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.branchfirst {
  display: inline-block;
  width: 240px;
  height: 350px;
  margin: 25px;
  margin-left: 70px;
  transition: 0.5s;
}

.branchimg {
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 3px;
  text-decoration: none;
}

.lowerblock {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  height: 50px;
  width: 240px;
  background-color: #DFF6FF;
  position: relative;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 3px;
}

.Upperblock {
  height: 300px;
  width: 240px;
  bottom: 50px;
  border-radius: 20px;
}

.hotelCityName {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #06283D;
}

.branchesouter {
  display: inline-block;
  width: auto;
  height: auto;
}

#mainouterbranches {
  margin-left: 170px;
  display: inline-block;
  width: auto;
  height: auto;
}

#mainouterbranches a {
  text-decoration: none;
}

#mainouterbranches hr {
  margin: auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #47b5ff;
  border-width: 7px;
  width: 7%;
}

.branchDesc {
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  width: 750px;
  text-align: center;
}

.OuterDiv {
  height: 1500px;
  width: 1100px;
  margin: auto;
  padding: 10px;
}

.mainhr {
  border-style: none;
  border-top-style: dotted;
  border-color: #47B5FF;
  border-width: 7px;
  width: 7%;
  margin: auto;
  padding-bottom: 20px;
}

#Heading {
  text-align: center;
  text-shadow: 1px 1px #79DAE8;
  color: #256D85;
}

.roomDiv {
  height: 250px;
  margin: 20px 0 20px 0;
  background-color: #E8F9FD;
  border: 4px solid #256D85;
}

/* Image Section */
.roomDiv_img {
  display: inline-block;
  height: 250px;
  width: 300px;
}

.roomimg {
  position: absolute;
  height: 250px;
  width: 300px;
}


/* Description Section */
.roomDiv_desc {
  display: inline-block;
  height: 250px;
  width: 492px;
  vertical-align: top;
  position: relative;
}


.room_title {
  display: inline-block;
  height: 60px;
  width: 482px;
}

.title {
  display: inline-block;
  padding-top: 20px;
  margin-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hello {
  display: inline-block;
  width: 3px;
}

.roomdesc {
  display: inline-block;
  height: 130px;
  width: 482px;
  position: absolute;
  left: 24px;
  top: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 10px;
  border-top: 2px ridge #256D85;
  padding-top: 20px;
}

.room_am {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 24px;
  height: 50px;
  width: 482px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.review {
  display: inline-block;
  margin-top: 15px;
}


/* End Section */
.roomDiv_end {
  display: inline-block;
  height: 250px;
  width: 240px;
  position: relative;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  border-radius: 4px;
  background-color: #06283D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 70px;
  cursor: pointer;
  margin: 5px;
}

.price {
  display: inline-block;
  height: 20px;
  width: 50px;
  position: absolute;
  top: 70px;
  right: 73px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}